@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", serif;
    list-style: none;
}

body {
    background-image: url("../assets/img/bg4.jpg");
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

.box{
    background-color: rgba(74, 74, 74, 0.44);
}

.bouton{
    background-color: rgba(74, 74, 74, 0.44);
}

/* ============================== navbar ================================= */
.navbar{
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100%;
    pointer-events: visible; /* Permet de cliquer à travers le pseudo-élément */
    padding: 0;
}

.navbar.active {
    z-index: 1000;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;*
    display: none;
}

.menu-btn {
    position: absolute;
    top: 0vw;
    right: 5vw;
    width: 3vw;
    height: auto;
    margin-top: 5vw;
}

.menu-btn:hover {
    background-color: #ffffff00;
    transform: scale(1.05);
}

.nav-links {
    background-color: transparent;
    backdrop-filter: blur(300px);
    position: absolute;
    padding: 100% 100%;
    text-align: center;
    display: none;
}

.nav-links ul{
    margin: 0;
    padding: 0;
    margin-bottom: 5rem;
}

.nav-links.active {
    display: block;
    z-index: 1000; /* Valeur pour le premier plan */
}

.nav-links a {
    display: block;
    text-decoration: none;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 2rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: rgba(255, 0, 0, 0.87);
    transform: scale(1.05);
    -webkit-text-stroke: 1.5px #ffffff;

}
/* ================================== fin navbar ================================= */
/* ================================= footer ======================*/

footer {
    background-color: transparent;
    border-top: 2px solid rgba(255,255,255, 0.2);
    backdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
}

footer p {
    margin: 5px;
    font-size: 15px;
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
}

footer a:hover {
    color: #fd0202;
    text-decoration: underline;

}

/* =============================== fin footer ======================*/



button:hover {
    background-color: white !important;
    color: red !important;
    font-weight: bold !important;
    font-weight: bold;
    transform: scale(1.10);
    transition: transform 0.6s ease, box-shadow 0.3s ease;
}

/*================================== Programmation ===============================*/
.prog a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.prog a :hover{
      background-color: rgb(255, 255, 255);
    font-size: 20px;
  }

a{
    text-decoration: none;
    color: white;

}
a:hover{
    color: red;
}


.container{
    color: #ffffff;
    text-align: center;
    padding-right: 0;
    padding-left: 0;

}

.col{
    backdrop-filter: blur(0px);
    overflow: hidden;
    text-decoration: none;
    font-size: 20px;
}

.colx:hover {
    color: red;
    font-weight: bold;
    transform: scale(1.10);
    transition: transform 0.6s ease, box-shadow 0.3s ease;

}

.star{
    width: 100%;
    height: auto;
}
.col img {
    width: 90%;
    height: auto;
}

.col h2 {
    padding: 25px 10px;
}

.row>* {
    padding-right: 0;
    padding-left: 0;
}

.presentation{
    font-size: 20px;
}
/*================================== fin Programmation ===============================*/
/*================================== formulaire ===============================*/


/*================================== fin formulaire ===============================*/
